@import "../../App.scss";

.skill {
    padding: 0 0 50px 0;
    position: relative;
    justify-content: center;
    align-items: center;
    
  
    .skill-bx {
      background: #161633;
      border-radius: 64px;
      text-align: center;
      padding: 60px 50px;
      margin-top: 100px;

      @include mobile{
        transform: none !important;
        padding: 10px;
        align-items: center;
        text-align: center;
     }
  
      h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 100px;
      }
  
    }
  
    .skill-slider {
      width: 80%;
      margin: 0 auto;
      position: relative;
  
      .item img {
        width: 50%;
        margin: 0 auto 15px auto;
      }
    }
  
    .background-image-left {
      top: 28%;
      position: absolute;
      bottom: 0;
      width: 40%;
      z-index: -4;
    }
  }
  