html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

   
}

body{
    background-color: #0c0c1d;
    color: #d3d3d3;
    overflow-x: hidden;

   
    &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #d3d3d3; 
      
      }
      &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 10px; 
      }
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

.skills{
    height: 100vh;
    padding-top: 100px ;
    padding-left: 50px;
    padding-right: 50px;
    scroll-snap-align: center;
    background: linear-gradient(180deg, #111132, #0c0c1d);
}


.education{
    height: 100vh;
    width: 100%; 
    scroll-snap-align: center;
    
}

@mixin mobile{
   @media (max-width: 425px){
    @content;
   } 
}
@mixin tablet{
   @media (max-width: 900px){
    @content;
   } 
}
@mixin laptop{
   @media (max-width: 1024px){
    @content;
   } 
}
@mixin desktop{
   @media (max-width: 1466px){
    @content;
   } 
}