
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    //overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

   
}

body{
    background-color: #0c0c1d;
    color: #d3d3d3;
    overflow-x: hidden;

   
    &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background-color: #d3d3d3; 
      
      }
      &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 10px; 
      }
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    //scroll-snap-align: center;
}
#shadow-host-companion{
   height: 0;
}

@mixin mobile{
   @media (max-width: 425px){
    @content;
   } 
}
@mixin tablet{
   @media (max-width: 900px){
    @content;
   
} 
}
@mixin laptop{
   @media (max-width: 1024px){
    @content;
   } 
}
@mixin desktop{
   @media (max-width: 1466px){
    @content;
   } 
}